version: '2'
services:
  gen-app:
    build: ../../..
    container_name: gen-app
    environment:
      - NODE_CLIENT_PROVIDER_OIDC_ISSUER_URI=http://keycloak:9080/auth/realms/jhipster
      - NODE_ENV=dev
    ports:
      - 8081:8081:
  keycloak:
    extends:
      file: keycloak.yml
      service: keycloak
